<div class="header__user-options">
    <button class="btn active">
        <div class="icon">
            <mat-icon aria-hidden="true" class="color-secondary material-icons-outlined">person</mat-icon>
        </div>
        <div class="text-sm color-primary">Para mí</div> 
    </button>
    <button class="btn">
        <div class="icon">
            <mat-icon aria-hidden="true" class="color-secondary material-icons-outlined">people</mat-icon>
        </div>
        <div class="text-sm color-primary">Colega</div>
    </button>
    <button class="btn">
        <div class="icon">
            <mat-icon aria-hidden="true" class="color-secondary material-icons-outlined">group_add</mat-icon>
        </div>
        <div class="text-sm color-primary">Invitado</div>
    </button>
</div>