<div class="content-routes">
    <div class="steps">
        <div *ngFor="let step of steps" 
            class="steps__step" 
            [class.active]="page === step.step"
            (click)="changePage(step)"
        >
            <span class="steps__step__number">{{step.step}}</span>
            <span class="steps__step__title color-primary">{{step.title}}</span>
        </div>
    </div>
    <hr>
    <div class="content-routes__select">
        <select class="selectpicker" >
            <option selected>Bogotá</option>
        </select>
    </div>
    <div class="content-routes__search">
        <mat-icon 
            aria-hidden="true" 
            class="content-routes__search__icon color-secondary material-icons-outlined"
        >
            not_listed_location
        </mat-icon>
        <app-search-input [placeholder]="placeholder"></app-search-input>
    </div>
    <div *ngIf="!loading" class="content-routes__favorites">
        <div class="content-routes__favorites__title color-secondary ">Favoritos</div>
        <app-favorite 
            *ngFor="let place of favoritesPlaces" 
            [place]="place"
            (onSelectPlace)="emitPlaceSelected($event)"
        ></app-favorite>
    </div>
    <div *ngIf="loading" class="content-routes__favorites__loading"></div>
</div>