<div class="content">
    <div class="header">
        <img src="../../assets/logo.svg" class="header__img">
    </div>
    <div class="box-user">
        <div  class="box-user__img">
             <img [src]="user?.img" alt="user">
        </div>
        <div class="box-user__description">
            <div class="box-user__description__name color-primary text-base">
                {{ user?.name }}
            </div>
            <div class="box-user__description__rol color-light text-sm">
                {{ user?.rol }}
            </div>
        </div>
        <hr>
    </div>
    <div class="tabs-list">
       <ul class="tabs-list__group list-group">
           <li *ngFor="let item of items" 
                class="tabs-list__item list-group-item" 
                [class.active]="item === currentItem" 
                (click)="activeItem(item)"
                [routerLink]="item.route"
            >
               <mat-icon class="tabs-list__icon material-icons-outlined color-primary" aria-hidden="true">
                   {{item?.icon}}.
                </mat-icon>
               <div class="tabs-list__tilte color-primary text-base"> {{item?.title}}</div>
           </li>
       </ul>
    </div>
 </div>