
<div class="content-search">
    <div class="header">
        <div class="header__top"></div>
        <app-user-options></app-user-options>
    </div>
    <div class="search-routes">
        <app-search-routes 
            [favoritesPlaces]="favoritesPlaces" 
            (onSelectFavoritePlace)="emitPlaceFavoriteSelected($event)"
            (onChangePage)="onChangePage($event)"
            [page]="activePage"
        ></app-search-routes>
    </div>
    <div class="footer"  [class.slot-end]="activePage === 1">
        <button class="footer__btn btn material-icons-outlined"     
                [class.hide]="activePage === 1"
                (click)="backPage()"
        >
            <mat-icon aria-hidden="true">west</mat-icon>
        </button>
        <button class="footer__btn btn material-icons-outlined" 
                [class.success]="originPlaceSelected"
                [disabled]="!originPlaceSelected"
                (click)="nextPage()"
        >
            <mat-icon aria-hidden="true">
                east
            </mat-icon>
           
        </button>
    </div>
</div>
<div >cerrar</div>