.content-search {
    position: absolute;
    width: 300px;
    height: 590px;
    background: white;
    top: 30px;
    left: 30px;
    box-shadow: 1px 1px 2px 1px #7c7c7c;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .header__top {
        height: 55px;
        margin-bottom: 45px;
        background: var(--secondary-color);
    }
    .search-routes {
        flex: 1;
    }
    .footer {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background: white;
        .footer__btn {
            background: #e5e9ee;
            color: var(--primary-color);
        }
        .hide{
            display: none;
        }
        .success {
            background: #0bce9d1f;
            color: var(--contrast-color);
        }
    }
    .slot-end{
        justify-content: end;
    }
}

