.fav-item {
    display: flex;
    align-items: center;
    padding: 0;
    width: 100%;
    padding: 5px;
    .fav-item__img {
        margin-right: 15px;
        background: #ffc10745;
        border-radius: 50%;
        display: flex;
        padding: 2px;
        .icon {
            color:#f3c94d;
        }
    }
    .fav-item__description{
        text-align: left;
        line-height: 16px;
        .fav-item__description__direction {
            color: #bcbcbc;
            margin-top: 5px;
        }
    }
    .active {
        background: #f6f6f6;
    }
}:hover,:focus{
    background: #f6f6f6;
    box-shadow: none;
}

